---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ include "ephemeron.registry.fullname" . }}
  labels:
    {{- include "ephemeron.registry.labels" . | nindent 4 }}
  annotations:
    nginx.ingress.kubernetes.io/proxy-body-size: "0"
    nginx.ingress.kubernetes.io/server-snippet: |
      location ~* ^/v2/_catalog { return 403; }
    {{- with .Values.ingress.annotations }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
spec:
  rules:
    - host: {{ .Values.ingress.host }}
      http:
        paths:
          - backend:
              service:
                name: {{ include "ephemeron.registry.fullname" . }}
                port:
                  number: 5000
            path: /v2
            pathType: Prefix
  tls:
    - hosts:
        - {{ .Values.ingress.host }}
      secretName: {{ include "ephemeron.fullname" . }}-tls
