---
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Release.Name }}-registry-config
stringData:
  config.yml: |
    version: 0.1
    log:
      level: info
      formatter: text
    storage:
      delete:
        enabled: true
      {{- if eq .Values.registry.storage.mode "s3" }}
      redirect:
        disable: {{ not .Values.registry.storage.s3.redirect }}
      s3:
        region: {{ .Values.registry.storage.s3.region }}
        bucket: {{ .Values.registry.storage.s3.bucket }}
        accesskey: {{ .Values.registry.storage.s3.accessKey }}
        secretkey: {{ .Values.registry.storage.s3.secretKey }}
        {{- with .Values.registry.storage.s3.endpoint }}
        regionendpoint: {{ . }}
        {{- end }}
      {{- else }}
      filesystem:
        rootdirectory: /var/lib/registry
      {{- end }}
      cache:
        blobdescriptor: {{ .Values.registry.cache.blobdescriptor }}
    {{- if eq .Values.registry.cache.blobdescriptor "redis" }}
    redis:
      addr: {{ .Release.Name }}-redis-ha-haproxy:6379
    {{- end }}
    http:
      addr: 0.0.0.0:5000
      secret: {{ .Values.registry.secret | default "change-me" }}
      host: https://{{ .Values.ingress.host }}
      {{- if .Values.registry.metrics.enabled }}
      debug:
        addr: 0.0.0.0:5001
        prometheus:
          enabled: true
      {{- end }}
    notifications:
      events:
        includereferences: true
      endpoints:
        - name: registry-hooks
          disabled: false
          url: http://{{ .Release.Name }}-sidecar:8000/v1/hook/registry-event
          headers:
            Authorization: ["Token {{ .Values.registry.hookToken | default "change-me" }}"]
          timeout: 1s
          threshold: 10
          backoff: 1s
