---
apiVersion: v1
kind: Service
metadata:
  name: {{ include "ephemeron.registry.fullname" . }}
  labels:
    {{- include "ephemeron.registry.labels" . | nindent 4 }}
spec:
  selector:
    {{- include "ephemeron.registry.selectorLabels" . | nindent 4 }}
  ports:
    - port: 5000
      targetPort: registry
      name: registry
