{{- if and .Values.registry.metrics.enabled .Values.registry.metrics.serviceMonitor.enabled }}
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: {{ include "ephemeron.registry.fullname" . }}
  labels:
    {{- include "ephemeron.registry.labels" . | nindent 4 }}
spec:
  selector:
    matchLabels:
      {{- include "ephemeron.registry.selectorLabels" . | nindent 6 }}
  endpoints:
    - port: metrics
      path: /metrics
{{- end }}
