---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ include "ephemeron.manager.fullname" . }}
  labels:
    {{- include "ephemeron.manager.labels" . | nindent 4 }}
  annotations:
    {{- with .Values.ingress.annotations }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
spec:
  rules:
    - host: {{ .Values.ingress.host }}
      http:
        paths:
          - backend:
              service:
                name: {{ include "ephemeron.manager.fullname" . }}
                port:
                  number: 8000
            path: /
            pathType: Prefix
  tls:
    - hosts:
        - {{ .Values.ingress.host }}
      secretName: {{ include "ephemeron.fullname" . }}-tls
