{{- if .Values.manager.metrics.serviceMonitor.enabled }}
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: {{ include "ephemeron.manager.fullname" . }}
  labels:
    {{- include "ephemeron.manager.labels" . | nindent 4 }}
spec:
  selector:
    matchLabels:
      {{- include "ephemeron.manager.selectorLabels" . | nindent 6 }}
  endpoints:
    - port: metrics
      path: /metrics
{{- end }}
